venv/
__pycache__/
*.pyc
chroma_db/
.env
!.env.example

# Don't commit the research PDFs you tested with (likely copyrighted) —
# keep sample_docs/ structure but not the actual files.
sample_docs/*.pdf
sample_docs/*.txt
!sample_docs/.gitkeep

!sample_docs/about_this_project.txt

!sample_docs/about_this_project.txt
