langchain-community
langchain-classic
langchain-text-splitters
langchain-ollama
langchain-chroma
chromadb
fastembed
rank_bm25
flashrank
pypdf
fastapi
uvicorn
streamlit
requests
langchain-groq
python-dotenv
